# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Temp files created by the app at runtime
mp3_editor_*/
*.mp3
*.wav
*.m4a

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
